# ignore all html in diffs and github languages stats
*.html linguist-generated=true
# ignore specific .py files linked to jupyter notebooks in github languages stats
hws/Matthew_Epland-*_Assignment.py linguist-documentation=true
